@{
    ViewData["Title"] = "Approvals";
    var claims = ViewData["Claims"] as List<ST10291238_PROG6212_POE.Models.ClaimsTable>;
}

<h2>Pending Claims for Approval</h2>

<table class="table table-striped">
    <thead>
        <tr> 
            @*The headings for each coloumn of the table*@
            <th>Lecturer Name</th>
            <th>Programme</th>
            <th>Claim Amount</th>
            <th>Date Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (claims != null)
        {
            @foreach (var claim in claims)
            {
                <tr>
                    <td>@claim.LecturerName @claim.LecturerSurname</td>
                    <td>@claim.Programme</td>
                    <td>@claim.ClaimAmount</td>
                    <td>@claim.ClaimDate.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-success btn-sm">Approve
                            @claim.Status = "Approved"
                        </a>
                        <a class="btn btn-danger btn-sm">Reject
                            @claim.Status = "Rejected"
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
